<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Deviceid</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var mParkMachine in machinesList)
    {
        <tr>
            <th scope="row">#</th>
            <td>@mParkMachine.Id</td>
            <td>@mParkMachine.City<br />
                @(mParkMachine.Country?.Name ?? "Unknown Country")
            </td>
            <td>@mParkMachine.LastUpdated</td>
            <td>@mParkMachine.Type</td>
                    <td>
                        <button type="button"
                            class="btn btn-@(mParkMachine.IsOnline ? "success" : "danger")"
                            @onclick="() => ItemCompleted(mParkMachine)"
                            @onclick:stopPropagation="true">
                            @(mParkMachine.IsOnline ? "Online" : "Offline")
                        </button>
                    </td>
            <td>
                <a href="@($"MachineEdit/{mParkMachine.Id}")" class="btn btn-primary">Edit</a>
                <button onclick="alert('not implemented')" @onclick:stopPropagation="true" class="btn btn-danger">Edit data</button>
                <button @onclick="() => Remove(mParkMachine)" @onclick:stopPropagation="true" class="btn btn-danger">X</button>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>



@code {
    [Parameter]
    public List<MParkMachine> machinesList { get; set; } = new List<MParkMachine>();

    private void ItemCompleted(MParkMachine mParkMachine)
    {
        mParkMachine.IsOnline = mParkMachine.IsOnline ? false : true;

        //ToDo call api 
        //Act on success
    }

    private void Remove(MParkMachine mParkMachine)
    {

        //ToDo call api
        machinesList.Remove(mParkMachine);
    }
}